

$primary: rgb(182, 157, 230);



h4 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    opacity: .85;
}

// label {
//     font-size: 12.5px;
//     color: #000;
//     opacity: .8;
//     font-weight: 400;
// }

form {
    padding: 40px 30px;
    background: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    width: 320px;
    height: 500px;
    border: 2px solid;
    border-color: #8B5CF6;
    border-left: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    h4 {
        margin-bottom: 20px;
        color: rgba(#000, .5);

        span {
            color: #4b00f5;
            font-weight: 700;
        }
    }

    p {
        line-height: 155%;
        margin-bottom: 5px;
        font-size: 14px;
        color: #000;
        opacity: .65;
        font-weight: 400;
        max-width: 200px;
        margin-bottom: 40px;
    }
}

a.discrete {
    color: rgba(#000, .4);
    font-size: 14px;
    border-bottom: solid 1px rgba(#000, .0);
    padding-bottom: 4px;
    margin-left: auto;
    font-weight: 300;
    transition: all .3s ease;
    margin-top: 40px;

    &:hover {
        border-bottom: solid 1px rgba(#000, .2);
    }
}


.form-wrapper {
    margin-bottom: 17px;

    // label {
    //     margin-bottom: 9px;
    //     display: block;
    // }
}


$displacement: 3px;

@keyframes shake-shake {
    0% {
        transform: translateX(-$displacement);
    }

    20% {
        transform: translateX($displacement);
    }

    40% {
        transform: translateX(-$displacement);
    }

    60% {
        transform: translateX($displacement);
    }

    80% {
        transform: translateX(-$displacement);
    }

    100% {
        transform: translateX(0px);
    }
}

.session {
    display: flex;
    flex-direction: row;
    height: auto;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .12);
    width: 100%;
    max-width: 575px;
    margin: auto;

}

.wrapper {
    min-height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    animation: fadeIn 1s ease-in;
}

.left {
    width: 250px;
    height: auto;
    min-height: 100%;
    position: relative;
    background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

    svg {
        height: 40px;
        width: auto;
        margin: 20px;
    }
}

@keyframes fadeOut {
   0% {
    opacity: 1;
   }
   100% {
    opacity: 0;
   }
}

.logged {
    animation: fadeOut .45s;
    opacity: 0;
}