@import "primeflex/primeflex.css";
@import "primeng/resources/themes/lara-light-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
    font-family: nzd;
    src: url('./assets/Parkinsans-VariableFont_wght.ttf');
}

:root {
    --purple: #824bff;
    --red: rgb(238, 15, 15);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: nzd;
}

button {
    transition: .2s ease-in-out;
}

.add-to-cart-btn {
    background: #f5f5f7;
    color: #6928ff;
    border: 1px solid;
    transition: .1s ease-in-out;
}

.add-to-cart-btn:hover {
    background: #6928ff;
    color: #f5f5f7;
}