<nav class="w-full h-6 flex justify-content-around align-items-center">
    <div class="logo">MarketPlace</div>
    <div class="items flex align-items-center gap-3">
        <span class="menuItem" routerLink="/home">Home</span>
        <span class="menuItem">Stores</span>
        <span class="menuItem">Products</span>
        <span class="menuItem">Categories</span>
    </div>
    <div class="profile">
        <p-toast />
        <p-menu #menu [model]="items" [popup]="true" />
        <p-button (onClick)="menu.toggle($event)" icon="pi pi-user" />
    </div>
</nav>